{% extends 'base.html'%}

{% block content%}
    <div>
        <h1 class="h1">{{teacher}}</h1>
        <div class="groups__frame">
            <div class="ol__box">
                <h2 class="peoples__relative">Teaching:</h2>

                  <div class="li__box">
                      <li value="{{ (page-1)*10 }}" class="li_hidden"></li>

                    {% for teaching in paginate_teachingS.items %}

                          <div class="people__box">
                              <span>{{ teaching.group }} {{ teaching.subject }}</span>
                              <span>
                                  <a href={{url_for('teachingS.delete_teaching', id=teaching.id)}} >
                                      <img class="delete__thing" src={{url_for('static', filename='img/trash.png')}}>
                                  </a>

                                  <a href={{url_for('teachingS.edit_teaching', id=teaching.id, default_teacher_id=teacher.id)}} >
                                        <img class="edit__pencil" src={{url_for('static', filename='img/edit_pencil.png')}}>
                                  </a>

                              </span>
                          </div>

                    {% endfor %}
                  </div>

            </div>
        </div>
        <div class="tool__box">
            <div>
                {% for page_num in paginate_teachingS.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                    {% if page_num %}
                        <a class="page__box" href={{url_for('teachingS.show_by_teacher', page=page_num, id=teacher.id)}}>{{ page_num }}</a>
                    {% else %}
                        <span class="between__page">...</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                 <a class="add__people__box" href={{url_for('teachingS.add_teaching',  default_teacher_id=teacher.id)}} >+</a>
            </div>
        </div>
    </div>
{% endblock %}